<%- include('partials/header.ejs'); %>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <%- include('partials/app-name.ejs'); %>
                </div>
                <div class="clearfix"></div>
                <%- include('partials/menu-profile.ejs'); %>
                <br>
                <%- include('partials/nav.ejs'); %>
                <%- include('partials/sidebar-footer.ejs'); %>
            </div>
        </div>
        <%- include('partials/top-nav.ejs'); %>
        <div class="right_col" role="main">
            <div class="page-title">
                <div class="title_left">
                    <h3> Automated QA</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel" style="visibility: hidden">
                        <div class="x_title">
                            <ul class="nav navbar-right"></ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="message"></div>
                            <div id="ready"><p><strong>Packages are validated via automated QA process and uploaded to the Archivematica SFTP server.</strong></p></div>
                            <div id="qa-on-ready"></div>
                        </div>
                        <table id="qa-folders-tbl" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Collection Folder</th>
                                <th>Packages</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="qa-folders"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('partials/footer.ejs'); %>
</div>
<script src="../../libs/jquery/dist/jquery.min.js"></script>
<script src="../../libs/axios-2.x/dist/axios.min.js"></script>
<script src="../../libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../libs/nprogress/nprogress.js"></script>
<script src="../../libs/validator/jquery.validate.js"></script>
<script src="../../libs/dompurify/purify.min.js"></script>
<script src="../../libs/moment/moment.min.js"></script>
<script src="../../libs/moment/moment.timezone.js"></script>
<script src="../../libs/datatables/datatables.min.js"></script>
<script src="../../assets/js/theme_sidebar.js"></script>
<script src="../../app/dom.module.js"></script>
<script src="../../app/config.module.js"></script>
<script src="../../app/api.module.js"></script>
<!--<script src="../../app/endpoints.module.js"></script>-->
<script src="../../app/http.module.qa.js"></script>
<script src="../../app/helper.module.js"></script>
<script src="../../app/user.module.js"></script>
<script src="../../app/auth.module.js"></script>
<script src="../../app/collections.module.js"></script>
<script src="../../app/qa.module.js"></script>
<script>
    qaModule.init();
    helperModule.onLoadVisibility('.x_panel', 250);
</script>
</body>
</html>