<%- include('partials/header.ejs');  %>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <%- include('partials/app-name.ejs'); %>
                </div>
                <div class="clearfix"></div>
                <%- include('partials/menu-profile.ejs'); %>
                <br>
                <%- include('partials/nav.ejs'); %>
                <%- include('partials/sidebar-footer.ejs'); %>
            </div>
        </div>
        <%- include('partials/top-nav.ejs'); %>
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Delete Object</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2></h2>
                                <ul class="nav navbar-right"></ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="message"></div>
                                <div class="row" id="delete-object">
                                    <div class="col-xs-12">
                                        <div class="alert alert-warning"><i class="fa fa-warning"></i> <strong>You are about to permanently delete this object and its associated metatdata from the Repository, Archivematica, and DuraCloud systems.  <!--The object record will need to be manually deleted from the <a href="https://denver.archivesdirect.archivematica.org/administration/accounts/login/" target="_blank">Archivematica dashboard</a> and <a href="https://denver.archivesdirect.archivematica.org:8000/login/" target="_blank">Archivematica storage service</a>.--></strong></div>
                                        <form name="user-form" id="delete-form">
                                            <div class="form-group">
                                                <label for="delete-reason">* Reason for deletion:</label>
                                                <textarea class="form-control" id="delete-reason" name="delete_reason" required></textarea>
                                            </div>
                                            <br>
                                            <button type="button" class="btn btn-danger" onclick="objectsModule.deleteObject(); return false;"><i class="fa fa-remove"></i>&nbsp; Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/repo/static/libs/jquery/dist/jquery.min.js"></script>
    <script src="/repo/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/repo/static/libs/nprogress/nprogress.js"></script>
    <script src="/repo/static/libs/validator/jquery.validate.js"></script>
    <script src="/repo/static/libs/dompurify/purify.min.js"></script>
    <script src="/repo/static/assets/js/theme_sidebar.js"></script>
    <script src="/repo/static/app/dom.module.js"></script>
    <script src="/repo/static/app/config.module.js"></script>
    <script src="/repo/static/app/api.module.js"></script>
    <script src="/repo/static/app/helper.module.js"></script>
    <script src="/repo/static/app/http.module.js"></script>
    <script src="/repo/static/app/user.module.js"></script>
    <script src="/repo/static/app/objects.module.js"></script>
</body>
</html>