<%- include('partials/header.ejs'); %>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <%- include('partials/app-name.ejs'); %>
                </div>
                <div class="clearfix"></div>
                <%- include('partials/menu-profile.ejs'); %>
                <br>
                <%- include('partials/nav.ejs'); %>
                <%- include('partials/sidebar-footer.ejs'); %>
            </div>
        </div>
        <%- include('partials/top-nav.ejs'); %>
        <div class="right_col" role="main">
            <div id="message"></div>
            <div id="dashboard" style="visibility: hidden">
                <div class="row top_tiles">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-archive"></i></div>
                            <div class="count" id="total-published-collections">...</div>
                            <h3>Published<br>Collections</h3>
                            <p id="loading-published-collection-total"><strong>Loading...</strong></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-archive"></i></div>
                            <div class="count" id="total-collections">...</div>
                            <h3>Total<br>Collections</h3>
                            <p id="loading-total-collections"><strong>Loading...</strong></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-file"></i></div>
                            <div class="count" id="total-published-objects">...</div>
                            <h3>Published<br>Objects</h3>
                            <p id="loading-published-object-total"><strong>Loading...</strong></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-file"></i></div>
                            <div class="count" id="total-objects">...</div>
                            <h3>Total<br>Objects</h3>
                            <p id="loading-total-objects"><strong>Loading...</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row top_tiles">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-file-image-o"></i></div>
                            <div class="count" id="total-images">...</div>
                            <h3>Total<br>Images</h3>
                            <p id="loading-total-images"><strong>Loading...</strong></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-file-pdf-o"></i></div>
                            <div class="count" id="total-pdfs">...</div>
                            <h3>Total<br>PDFs</h3>
                            <p id="loading-total-pdfs"><strong>Loading...</strong></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-file-audio-o"></i></div>
                            <div class="count" id="total-audio">...</div>
                            <h3>Total<br>Audio</h3>
                            <p id="loading-total-audio"><strong>Loading...</strong></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-file-video-o"></i></div>
                            <div class="count" id="total-video">...</div>
                            <h3>Total<br>Videos</h3>
                            <p id="loading-total-video"><strong>Loading...</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row top_tiles">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa fa-file"></i></div>
                            <div class="count" id="total-dip-usage" title="DIP storage consist of access files. i.e. jpg, txt, pdf">...</div>
                            <h3>Total<br>DuraCloud DIP Store Usage</h3>
                            <p id="loading-dip-usage"><strong>Loading...</strong></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa fa-file"></i></div>
                            <div class="count" id="total-aip-usage" title="AIP storage consists of master files. i.e. tiff, wav, pdf">...</div>
                            <h3>Total<br>DuraCloud AIP Store Usage</h3>
                            <p id="loading-aip-usage"><strong>Loading...</strong></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa fa-file"></i></div>
                            <div class="count" id="total-dc-usage" title="Total storage used on DuraCloud archive service. (DIP + AIP)">...</div>
                            <h3>Total<br>DuraCloud Storage<br>Usage</h3>
                            <p id="loading-dc-usage"><strong>Loading...</strong></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa fa-file"></i></div>
                            <div class="count" id="total-fiscal-year-ingests" title="">...</div>
                            <h3>Total<br>Current Fiscal Year<br>Ingests</h3>
                            <p id="loading-fiscal-year-ingests"><strong>Loading...</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="dashboard_graph x_panel">
                                <div class="x_title"></div>
                                <div class="x_content">
                                    <div style="height:250px">
                                        <p id="loading-ingests-per-year"><strong>Loading...</strong></p>
                                        <canvas id="ingests-per-year"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/repo/static/libs/jquery/dist/jquery.min.js"></script>
<!--<script src="/repo/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="/repo/static/libs/bootstrap-5.3.3/js/bootstrap.min.js"></script>
<script src="/repo/static/libs/nprogress/nprogress.js"></script>
<script src="/repo/static/libs/dompurify/purify.min.js"></script>
<script src="/repo/static/assets/js/theme_sidebar.js"></script>
<script src="/repo/static/app/dom.module.js"></script>
<script src="/repo/static/app/config.module.js"></script>
<script src="/repo/static/app/api.module.js"></script>
<script src="/repo/static/app/helper.module.js"></script>
<script src="/repo/static/app/http.module.js"></script>
<script src="/repo/static/app/user.module.js"></script>
<script src="/repo/static/app/home.module.js"></script>
<script src="/repo/static/app/stats.module.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>helperModule.onLoadVisibility('#dashboard', 250);</script>
</body>
</html>