<% include partials/header %>

<div class="fines-template">

    <% include partials/nav %>

    <div class="container col-md-8 col-md-offset-2">

        <fieldset>
            <legend>Fines & Fees</legend>
        </fieldset>

        <% if (code === 'Error') { %>
        <div class="alert alert-danger">
            <strong>There was a problem processing your payment.</strong>
        </div>
        <% } else if (code === 'Ok') { %>
        <div class="alert alert-success">
            <strong>Payment Processed.</strong>
        </div>
        <h3>Thank you for your payment.</h3>

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>DU ID</th>
                <th>Transaction ID</th>
                <th>Transaction Date</th>
                <th>Amount Paid</th>
            </tr>
            <tr>
                <td><%=id%></td>
                <td><%=transid%></td>
                <td><%=date%></td>
                <td>$<%=amount%></td>
            </tr>
        </table>

        <% } %>

    </div>
</div>
<script>
    setTimeout(function () {
        window.location = '<%= url %>';
    }, 15000);
</script>
<% include partials/footer %>